.prettierignore
**/*.mdx
**/*.md
**/*.mdoc
**/*.json
**/*.yaml
**/*.swcrc
**/generated/
**/snippet.*
**/.next
**/dist
**/next-env.d.ts
**/*/__ENV.js
libs/core/src/types/devfile-spec.ts
.yarn/

/.cache
/.nx/cache
/.nx/workspace-data
.nx/self-healing